stages:
# - Security
#   - Static Analysis
#   - Test
  - Release
  - Deploy

# flake8:
#   stage: Static Analysis
#   image: python:3.13-slim
#   before_script:
#     - python -V
#     - python -m pip install flake8
#   script:
#     - flake8 src | tee flake8_report.txt
#   artifacts:
#     when: on_failure
#     paths:
#       - flake8_report.tx


# pylint:
#   stage: Static Analysis
#   image: python:3.13-slim
#   before_script:
#     - python -V
#     - python -m pip install -r requirements.txt
#     - python -m pip install pylint
#   script:
#     - pylint --fail-under=7 src | tee pylint_report.txt
#   artifacts:
#     when: always
#     paths:
#       - pylint_report.txt


# integration-tests:
#   stage: Test
#   image: docker:28.3.2
#   services:
#     - docker:28.3.2-dind
#   before_script:
#     - docker info
#   script:
#     - docker compose -f ci/compose.test.yaml up --exit-code-from games-pytest

# "Security: Secrets (gitleaks)":
#   stage: Security
#   image: 
#     name: "zricethezav/gitleaks"
#     entrypoint: [""]
#   before_script: []
#   script:
#     - gitleaks detect --source . --no-banner --report-format json --report-path gitleaks.json
#   artifacts:
#     when: always
#     paths:
#       - gitleaks.json
#   allow_failure: false
#   rules:
#     - changes:
#         - services/booking-coordinator/**
#       when: on_success
#     - when: on_success

# "Security: SCA (pip-audit)":
#   stage: Security
#   image: python:3.11-slim
#   before_script:
#     - pip install --no-cache-dir pip-audit
#     - pip install --no-cache-dir -r requirements.txt
#   script:
#     - pip-audit -r requirements.txt -f json -o pip-audit.json || true
#   artifacts:
#     when: always
#     paths:
#       - pip-audit.json
#   allow_failure: false
#   rules:
#     - changes:
#         - services/booking-coordinator/**
#       when: on_success
#     - when: on_success

# "Security: SAST (bandit)":
#   stage: Security
#   image: python:3.11-slim
#   before_script:
#     - python -m pip install --upgrade pip
#     - python -m pip install bandit
#   script:
#     - bandit -r src -f json -o bandit.json || true
#   artifacts:
#     when: always
#     paths:
#       - bandit.json
#   allow_failure: false
#   rules:
#     - changes:
#         - services/booking-coordinator/**
#       when: on_success
#     - when: on_success

# "Security: Container Config (trivy)":
#   stage: Security
#   image:
#     name: "aquasec/trivy:0.53.0"
#     entrypoint: [""]
#   before_script: []
#   script:
#     - trivy config --format json --output trivy-config.json .
#   artifacts:
#     when: always
#     paths: [trivy-config.json]
#   allow_failure: false
#   rules:
#     - changes:
#         - services/booking-coordinator/**
#       when: on_success
#     - when: on_success

# "Security: Container Image (trivy)":
#   stage: Security
#   image: docker:28.3.2
#   services:
#     - docker:28.3.2-dind
#   before_script:
#     - apk add --no-cache curl
#     - curl -sSL https://github.com/aquasecurity/trivy/releases/download/v0.53.0/trivy_0.53.0_Linux-64bit.tar.gz | tar xz -C /usr/local/bin trivy
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker build --pull -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA" -f Dockerfile .
#   script:
#     - trivy image --severity HIGH,CRITICAL --format json --output trivy-image.json "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA" || true
#   artifacts:
#     when: always
#     paths: [trivy-image.json]
#   allow_failure: false
#   rules:
#     - changes:
#         - services/booking-coordinator/**
#       when: on_success
#     - when: on_success

release-image:
  stage: Release
  image: docker:28.3.2
  services:
    - docker:28.3.2-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:latest" -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH" --all-tags


deploy-ecs:
  stage: Deploy
  image: 'registry.gitlab.com/gitlab-org/cloud-deploy/aws-ecs:latest'
  environment:
    name: g1t6-productions-ecs
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  script:
    - ecs update-task-definition