stages:
  - Static Analysis
  - test
  - release

default:
  before_script:
    - python --version
    - pip install --upgrade pip
    - pip install -r requirements.txt
  cache:
    key: ${CI_PROJECT_NAME}-pip
    paths:
      - .cache/pip

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONDONTWRITEBYTECODE: "1"

flake8:
  stage: Static Analysis
  image: python:3.13-slim
  before_script:
    - python -V
    - python -m pip install flake8
  script:
    - flake8 src | tee flake8_report.txt
  artifacts:
    when: on_failure
    paths:
      - flake8_report.txt

pylint:
  stage: Static Analysis
  image: python:3.13-slim
  before_script:
    - python -V
    - python -m pip install -r requirements.txt
    - python -m pip install pylint
  script:
    - pylint --fail-under=7 src | tee pylint_report.txt
  artifacts:
    when: always
    paths:
      - pylint_report.txt

unit_tests:
  stage: test
  image: python:3.11-slim
  rules:
    - changes:
        - services/admin/**
      when: on_success
    - when: manual
  script:
    - pip install pytest
    # For CI, avoid external AWS dependencies; app handles missing DynamoDB gracefully
    - pytest -q services/admin/tests || pytest -q
  artifacts:
    when: always
    reports:
      junit: junit.xml
    paths:
      - junit.xml

release_image:
  stage: release
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t "$CI_REGISTRY_IMAGE/admin:$CI_COMMIT_TAG" -f services/admin/Dockerfile services/admin
    - docker push "$CI_REGISTRY_IMAGE/admin:$CI_COMMIT_TAG"

